<!DOCTYPE html >
<html lang="en">
<head>
<title>WAKI</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1421289961255909'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1421289961255909&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

</head>
<body>
<div class="middle">
<section class="bg1">
  <div class="container">
    <div class="row">
<%if (status == "success") { %>
		<form method="post">
			<div class="col-sm-6 col-md-4" style="float: none; margin:auto;">
					<div class="bottom-down">
							<img src="../images/logo.png"  alt="" style="height: 90px;"/>
						 </div>
		<div class="single" style="color: white;">
			<h5>Set New Password</h5>
			<div id="updateErrormsg"></div>
			<input type="hidden" name="user_email" id="user_email" value="<%= email %>">
		</div>
		
		<div class="single  text-center">
	    <div class="form-group">
		   <input type="password" class="form-control" name="password" id="password" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="Enter new Password">
		</div>
		</div>
		<div class="single text-center">
		<div class="form-group"> 
		</div>
		<input type="password" class="form-control" name="confirm_password" id="confirm_password" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="Enter confirm Password">
		</div>
		<div class="clearfix" style="padding-top: 0px;">
		   <button type="button" id="setPasswordBTN" class="btn btn-primary btn-lg" style="padding: 12px 0; width:100%;">UPDATE PASSWORD</button>
	 	</div>
	  
		</div>
	  	</form>

<% }else{ %>
	<div class="col-md-6 col_centered" style="background: #fff; height:150px;">
      <h5 style="color:red; padding-top: 20px;">Invalid Request</h5>
      <div style="height:1px; background: #ccc;"></div>
      <p style="padding-top: 20px; font-size: 14px;">It seems some issue with the link. Please try again.</p>
	</div>
<% } %>
	</div>
   </div>
</section>
</div>
	
<!--login-popup-modal-box-end-->

<!--footer_end-->
<script src="/js/jquery.js"></script> 
<script src="/js/bootstrap.min.js"></script>
<!--scrolling-menu-script-start-->
<script>
    $('#setPasswordBTN').click(function () {
 $("#updateErrormsg").html(""); //error 		
 		var user_email = $('#user_email').val();
	    var password = $('#password').val();
	    var confirm_password = $('#confirm_password').val();
	    if(password != confirm_password){
            $("#updateErrormsg").html("<font style='font-size:14px;margin-top:-15px;' color='red'>&nbsp&nbsp;Password and Confirm Password not matching.<br></font>"); //error message..
	    }
	    else if(password.length<6){
            $("#updateErrormsg").html("<font style='font-size:14px;margin-top:-15px;' color='red'>&nbsp&nbsp;Please set password of minimum 6 character length.<br></font>"); //error message..
	    }
	    else{

	  		$.ajax({
	          type:"POST",
	          url:"updateForgotPassword",
	          data:{email:user_email,password:password},
	          success: function(response){
	          	//alert(response);
	            if(response == 200){
					//console.log(response,"Check")
	                $("#updateErrormsg").html("<font style='font-size:14px; margin-top:-15px;' color='green'>Congratulations ! Password updated successfully.</font>"); //error message..
	            } 
				else {
	                $("#updateErrormsg").html("<font style='font-size:14px;margin-top:-15px;' color='red'>Your link is expired.</font>"); //error message..
	            }
	          }
	      	}); 
	    }
	       
  	});
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-96184888-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>